$backgroundColor: #232323;

body {
  background-color: $backgroundColor;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

.square {
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 15%;
  transition: background 0.6s;
}
.medGrid {
  width: 12%;
  height: 50px;
  padding-bottom: 10%;
  float: left;
  margin: 0.4%;
}

.wideGrid {
  width: 09%;
  height: 50px;
  padding-bottom: 07%;
  float: left;
  margin: 0.4%;
}

.container {
  margin: 20px auto;
  max-width: 50%;
}

.medContainer {
  margin: 20px auto;
  max-width: 75%;
}

.wideContainer {
  margin: 20px auto;
  max-width: 90%;
}

h1 {
  color: white;
  text-align: center;
  line-height: 1.1;
  background: steelblue;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px 0;
}

button {
  font-family: "Montserrat", "Avenir";
  font-weight: 700;
  font-size: inherit;
  color: steelblue;
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  letter-spacing: 1px;
  transition: all 0.3s;
  outline: none;
}

button:hover {
  background-color: steelblue;
  color: white;
}

#colorDisplay {
  font-size: 200%;
}

#message {
  display: inline-block;
  width: 20%;
  font-weight: 600;
}

#stripe {
  background-color: white;
  height: 30px;
  text-align: center;
}
.selected {
  background-color: steelblue;
  color: white;
}
